@import "leaflet/dist/leaflet.css";
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-orange: #fb6b00;
  --font-poppins: "Poppins", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--brand-orange);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #ff8533; 
  }
}

.leaflet-container {
  z-index: 10 !important;
}

.leaflet-pane,
.leaflet-top,
.leaflet-bottom {
  z-index: 20 !important;
}

.leaflet-control {
  z-index: 30 !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

.text-primary {
  color: var(--primary);
}

.bg-primary {
  background-color: var(--primary);
}

.color-primary {
  color: var(--primary);
}